                                    /*h1 h3*/
h1,h2,h3,h4,p{
    font-style:italic;
    font-weight:bold; 
    font-family:'Cormorant Garamond', serif;
    color:ghostwhite;
    text-shadow: 4px ​8px 8px  teal;
    font-size: 75px;
            }
                                     
 h4,h3{
    font-size: 26px;
    color:brown; 
    }
                                     
 p{
    color:unset;
    font-size: 22px;
    margin:20px;
    }
                                                                         
 header>h3{
        font-size: 45px;
        }
                                     
           /*bg image*/
 body{
    background-image: url("./img/toy-shop.jpg");
    background-size: cover;
     }
                                     
             /*header*/
 header{
        margin: auto;
        text-align: center;
        justify-content: center;
       }
                                     
               /*navbar*/
 #navbar{
        display: flex;
        }
                                     
 #navbar>ul{
             display: flex;
             list-style: none;
             }
                            
 #navbar>ul>li{
                padding:20px 22px;
                margin:20px 18px;
             }
                                     
 #navbar>ul>li>a{
                 font-size: 40px;
                 text-decoration: none;
                 color:cyan;
                 font-style: italic;
                 font-weight: bold;
                 font-family:'Cormorant Garamond', serif;
                                     }
                                     
 #navbar>ul>li>a:hover{
                     border-radius:10px;
                     padding:5px;
                     background-color:black;
                     color:white;
                                 }

                /*product*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
                  }
                  
.price {
        color: rgb(12, 67, 126);
        font-size: 22px;
                  }
                  
                  .row {
                    display: flex;
                  /*  flex-wrap: wrap;*/
                    padding: 10px 4px;
                  }
                  
                  /* Create two equal columns that sits next to each other */
                  .column {
                    flex: 25%;
                    padding: 0 4px;
                  }
                  
                  .column img {
                    max-height: 200px;;
                    margin-top: 8px;
                    vertical-align: middle;
                  }                           